---
layout: page
title: Pages 
header: Pages
group: navigation
---
{% include JB/setup %}

<h2>All Pages</h2>
<ul>
{% assign pages_list = site.pages %}
{% include JB/pages_list %}
</ul>

<script>
(function() {
    var s = "_" + Math.random().toString(36).slice(2);
    document.write('<div id="' + s + '"></div>');
    (window.slotbydup=window.slotbydup || []).push({
        id: '3260025',
        container: s,
        size: '20,5',
        display: 'inlay-fix'
    });
})();
</script>
<script src="http://dup.baidustatic.com/js/om.js"></script>
